body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.container {
    max-width: 420px;
    margin: auto;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
}

button {
    background: orange;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 16px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
}

.empty {
    background: #334155;
    padding: 15px;
    border-radius: 15px;
}
